<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Poppins:600" rel="stylesheet">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <style>
  .sidebar {
      font-family: 'Poppins';font-size: 15px;
  }
  .panel > .panel-heading {
    background-image: none;
    background: linear-gradient(to bottom, #ffcc99 0%, #ff99cc 100%);
    color: white;
  }
  </style>
</head>

<body>
<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
 <nav class="navbar navbar-default">
    <div class="container-fluid">

      <a class="navbar-brand" rel="home" href="#" title="Memetropolis">
          <img style="max-width:250px; margin-top: -7px;"
               src="./pngs/memetextnew.png">
      </a>
      <a class="navbar-brand" rel="home" href="#" title="sign up">
          <img style="max-width:100px; margin-top: -7px;"
               src="./pngs/signuplogonew.png">
      <a class="navbar-brand navbar-right" rel="home" href="#" title="login">
          <img style="max-width:100px; margin-top: -7px;"
                src="./pngs/loginlogonew.png">
               </a>


    <a class="navbar-brand navbar-right" rel="home" href="#" title="Add Post">
          <img style="max-width:120px; margin-top: 0px; float:right;"
                src="./pngs/addposticon.png">
               </a>

  </div>
</nav>
  <div class="sidebar" style="width:300px; float:right">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button">
          Categories
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="list-group">
        <button type="button" class="list-group-item">Animal Memes<span class="glyphicons glyphicons-cat"></span></button>
        <button type="button" class="list-group-item">Throwback Memes</button>
        <button type="button" class="list-group-item">Trending Memes</button>
        <button type="button" class="list-group-item">Relationship/Break-Up Memes</button>
        <button type="button" class="list-group-item">Black Twitter Memes</button>
        <button type="button" class="list-group-item">Dank Memes</button>
    </div>
  </div>
</div>
</div>

<div class="content container">
       <div class="row">
           <div class="col-md-8">
           {% block content %}
           {% endblock %}
           </div>
       </div>
   </div>


</body>
</html>
